body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.introduction {
    padding: 20px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.photos{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}

.photos img{
    width: 30%;
    border: 3px solid #fff;
}

.bio {
    padding: 20px;
    text-align: center;
    text-decoration: none;
}


