background{
    background-size: cover;
    background-position: center;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #444;
    line-height: 1.6;
}

header {
    background-color:rgb(246, 211, 166) ;
    color: white;
    padding: 24px;
    text-align: center;
    box-shadow: #444;
    font-weight: bolder;
}

header a{
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 24px;
}

header h1 {
    margin: 0;
    font-size: 60px;
}

nav {
    background-color: #fca037;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 50px;
    font-size: 18px;
    letter-spacing: 0.5px;
}

nav a:hover {
    color: #bc3f05;
    text-decoration: underline;
}

section{
    padding: 24px;
    background-color: rgb(246, 211, 166);
    border-radius: 8px;
    margin: 24px auto;
    max-width: 900px;
    box-shadow:rgb(224, 145, 42) ;
    transition: background-color 0.3s ease;
    transition: box-shadow 0.3s ease;
    font-size: 24px;
}

section:hover {
    background-color: rgb(246, 211, 166);
    box-shadow: rgb(224, 145, 42);
}


#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.photos{
    width: 1200px;
    height: 700px;
    object-fit: cover;
    border-radius: 20px;
    display: flex;
    gap: 10px;

}

.photos img{
    width: 30%;
    border: 3px solid #fff;
}

.bio {
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

.bio a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.bio a:hover {
    color: #555;
}

.bio img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    margin: 0 auto;
} 

.contact {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-sizing: 30px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px auto 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}

form{
    margin: 24px auto;
    max-width: 650px;
}

form label{
    display: block;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

form input,form textarea,form button{
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 16px;
}

form input:focus, form textarea:focus {
    border-color: #291b0b;
    outline: none;
    box-shadow: #e87f07;
}

form button {
    background-color: #fca037;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

form button:hover {
    background-color: #f76a28;
}

form button:active {
    background-color: #e87f07;
}

.about me img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    margin: center;
}







